
    @{
        ViewData["Title"] = "Simulator";
    }



<environment>
  <link rel="stylesheet" href="~/css/Simulator.css" />
</environment>
<nav class="navbar" id="navigation">
    <button draggable="true" class="btn btn-primary" onclick="Resistor()">Resistor </button><br />
    <button draggable="true" class="btn btn-primary">LED </button><br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    <button draggable="true" class="btn btn-primary">Battery </button><br />
    <button draggable="true" class="btn btn-primary">Conductor</button><br/>
    </nav>

<environment>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.1.2/dist/phaser.js"></script>
    <script src="~/js/Simulator.js"></script>
</environment>
