
@{
    ViewData["Title"] = "Selector";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalculatorSelector</title>
</head>
<body>
    <h1>!!!ALL OF THESE ARE PROTOTYPES!!!</h1>
    <a asp-action="ColorCode" asp-controller="Calculators">Color Code calculator</a><br />
    <a asp-action="OhmWall" asp-controller="Calculators">Ohm Wall Calculator</a><br />
    <a asp-action="Simulator" asp-controller="Simulator">Circuit Simulator</a>

</body>
</html>
