@model  IEnumerable<Light_Cube.Models.TestModel>
@{
    ViewData["Title"] = "ColorCode";
}




<!--MANAGE THE POSITION OF THE JS AND CSS EXTERNAL FILES-->>
<environment>
    <link rel="stylesheet" href="~/css/ColorCode.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"  />
</environment>

<title> Color Code Calculator</title>
<h1> ColorCode Prototype</h1>

@Html.DropDownList("Name1",new SelectList(Model, "Text", "Value"), "Please Choose", new { @class = "select2_single form-control" })

@foreach (var item in Model)
{
  @item.Text <br /> 
}

<!-- 1st strip -->
<select id="strip1" name="strip1" class="btn btn-primary">
    <option value="1">1 Brown</option>
    <option value="2">2 Red</option>
    <option value="3">3 Orange</option>
    <option value="4">4 Yellow</option>
    <option value="5">5 Green</option>
    <option value="6">6 Blue</option>
    <option value="8">8 Gray</option>
    <option value="9">9 White</option>
</select>
<!-- 2nd strip -->

<select class="btn btn-primary">
    <option value="0">0 Black</option>
    <option value="1">1 Brown</option>
    <option value="2">2 Red</option>
    <option value="3">3 Orange</option>
    <option value="4">4 Yellow</option>
    <option value="5">5 Green</option>
    <option value="6">6 Blue</option>
    <option value="7">7 Violet</option>
    <option value="8">8 Gray</option>
    <option value="9">9 White</option>
</select>

<!-- Multiplier -->
<select class="btn btn-primary">
    <option value="1">x1 Black</option>
    <option value="10">x10 Brown</option>
    <option value="100">x100 Red</option>
    <option value="1000">x1k Orange</option>
    <option value="10000">x10k Yellow</option>
    <option value="100000">x100k Green</option>
    <option value="1000000">x1M Blue</option>
    <option value="10000000">x10M Violet</option>
    <option value="10">+10 Gray</option>
    <option value="100">+100 White</option>
</select>

<!-- Tolerance-->
<select class="btn btn-primary">
    <option value="0.01"> ±1% Brown</option>
    <option value="0.02">±2% Red</option>
    <option value="0.03">±3% Orange</option>
    <option value="0.04">±4% Yellow</option>
    <option value="0.05">±0.5% Green</option>
    <option value="0.025">±0.25% Blue</option>
    <option value="0.010">±0.10% Violet</option>
    <option value="0.005">±0.05% Gray</option>
    <option value="0.05">±5% Gold</option>
    <option value="0.10">±10% Silver</option>
</select>
<button class="btn btn-warning">Submit</button>
<!-- Form Value Output Field-->
<form>
    <label>Resistance</label><input /><br />
    <label>Tolerance</label><input /><br />
    <label>Minimum</label><input /><br />
    <label>Maximum</label><input /><br />
</form>


<environment>
    @*<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>*@

    <script src="~/js/ColorCode.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#strip1').change(function () {
                var strip1 = $(this).val();

                var data = { StripValue: strip1 };
                if (strip1 != null || strip1 != '') {
                    $.ajax({
                        type: "post",
                        url: '/Calculators/Test',
                        data: data,
                        success: function (returnvalue) {
                            alert(returnvalue);
                        },
                        error: function () {
                            alert("Error");
                        }
                    });
                }
            });
        });

    </script>

</environment>