
@{
    ViewData["Title"] = "OhmWall";
}

<environment>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" ; />
    <link rel="stylesheet" href="~/css/OhmWall.css" />
</environment>

<h1>Ohm Wall Prototype</h1>
<h2>What do you need to find?</h2>
<p></p>

<!--Find resistance(R) field -->
<button id="Resistance" class="btn btn-primary">Resistance(R)</button>
<form id="IdResistance">
    <label> Resistance (R)   </label><input>
    <label> = Enter Current  (U)</label><input>
    <label>: Enter Electricity (I)</label><input>
</form>

<!-- Find Current(U) field -->
<button id="Current" class="btn btn-primary">Electricity(I)</button>
<form id="IdCurrent">
    <label> Current (U)</label><input>
    <label> = Enter Resistance (R)</label><input>
    <label>: Enter Electricity (I)</label><input>
</form>

<!--Find electricity (I) field -->
<button id="Electricity" class="btn btn-primary">Current(U)</button>
<form id="IdElectricity">
    <label>Electricity (I)</label><input>
    <label> = Enter Current (U)</label><input>
    <label> : Enter Resistance (R)</label><input>
</form>

<environment>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="~/js/OhmWall.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</environment>