
@{
    ViewData["Title"] = "Simulator";
}



<environment>
    <link rel="stylesheet" href="~/css/Simulator.css" />
</environment>

<nav class="navbar" id="navigation">
    <button id="btn1" draggable="true" class="btn btn-success" onclick="On()">On</button><br />
    <button draggable="true" class="btn btn-danger" onclick="Off()">Off</button><br />
</nav>

<div id="stats">
    <div class="test2">
        <div class="row"></div>
        <p id="test" class="col-sm-12">Stats</p>
        <p class="col-sm-12"><span id="voltage"></span></p>
        <p class="col-sm-12"><span id="resistance"></span></p>
        <p class="col-sm-12"><span id="current"></span></p>
        <a class="btn btn-primary" asp-action="SimulatorCustom" asp-controller="Tools">Custom Circuits</a>     
    </div>
</div>

<environment>
    <script src="~/lib/phaser.js"></script>
    <script src="~/js/SimulatorReady.js"></script>
</environment>
