
@{
    ViewData["Title"] = "Simulator";
}



<environment>
    <link rel="stylesheet" href="~/css/Simulator.css" />
</environment>
<nav class="navbar" id="navigation">
    <button id="btn1" draggable="true" class="btn btn-primary" onclick="Resistor()">Resistor </button><br />
    <button draggable="true" class="btn btn-primary" onclick="Led()">LED </button><br />
    <button draggable="true" class="btn btn-primary" onclick="Battery()">Battery </button><br />
    <button draggable="true" class="btn btn-primary" onclick="Wire()">Wire</button><br />
</nav>


<div id="stats">
    <div class="test2">
        <div class="row"></div>
        <p id="test" class="col-sm-12">Stats</p>
        <p class="col-sm-12">Resistance:<span id="resistance"></span></p>
        <p class="col-sm-12">Voltage:<span id="voltage"></span></p>
        <p class="col-sm-12">Current:<span id="current"></span></p>
        <p class="col-sm-12">Description:<span id="description"></span></p>
        <button class="btn btn-primary" onclick=" hideCustom()">Custom mode</button>
        <button class="btn btn-primary"  onclick=" showCustom()">Ready circuits</button>
    </div>
</div>




<environment>
    <script src="~/lib/phaser.js"></script>
    <script src="~/js/Simulator.js"></script>
</environment>
