@{
    ViewData["Title"] = "Home";
}

<environment>
    <link rel="stylesheet" type="text/css" href="~/css/Home.css" />
</environment>

<!--Beggining of Carousel -->
<section id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <!--First image -->
        <div class="carousel-item active">
            <img src="~/images/presenter.png" class="image" />
            <div class="carousel-caption">
                <h3>Los Angeles</h3>
                <p>We had such a great time in LA!</p>
            </div>
        </div>
        <!--Second image -->
        <div class="carousel-item">
            <img src="~/images/presenter.png " class="image">
            <div class="carousel-caption">
                <h3>Chicago</h3>
                <p>Thank you, Chicago!</p>
            </div>
        </div>
        <!--Third image -->
        <div class="carousel-item">
            <img src="~/images/presenter.png" class="image">
            <div class="carousel-caption">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
            </div>
        </div>
    </div>
    <!--This is for the navbuttons -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</section>



<!--Beggining of Cards -->
<section class="container-fluid">
    <div class="row">
        <!--Card 1-->
        <div class="col-sm-4 padding-0">
            <div class="card text-white bg-primary">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <!--Card 2-->
        <div class="col-sm-4  padding-0">
            <div class="card text-white bg-info">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <!--Card 3-->
        <div class="col-sm-4  padding-0">
            <div class="card text-white bg-success">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Beggining of Twitter Section-->
<div id="test" class="container-fluid">
    <div class="text-center">
        <h1>News</h1>
        <hr />
    </div>
</div>
<div class="container">   
    <div class="card">
        <div class="card-body">
            <a class="twitter-timeline"
               href="https://twitter.com/LightCube68?ref_src=twsrc%5Etfw"
               data-width="900"
               data-chrome="noheader">Tweets by LightCube68</a>
        </div>
    </div>
</div> 

<!-- Beggining of Footer-->
    <footer>
        <hr />
        <h4 id="kur">Connect With Us</h4>
        
        <div class="container">
            <div class="media">               
                <div class="media-body">
                    <img class="kek" src="~/images/if_aiga_mail_134146.png" />
                    <p><strong>Email:</strong>mailexample.com</p>

                    <img class="kek" src="~/images/if_aiga_mail_134146.png" />
                    <p><strong>Email:</strong>mailexample.com</p>

                    <img class="kek" src="~/images/if_aiga_mail_134146.png" />
                    <p><strong>Email:</strong>mailexample.com</p>
                    <button id="toTop" class="btn btn-primary">Back to Top</button>
                </div>
            </div>
        </div>
    </footer>

<environment>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="~/js/Home.js"></script>
</environment>