body {
   background-color:#6EEB83
}

.carousel-image {
    height: 750px;
    width: 100%;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

#news{
    border-top:solid;
    border-color:black;
    margin-top:2%;
}

footer > h4 {
    text-align: center;
}

.media-body > img{   
    float:left;
}

footer {
    background-color: #2C302E;
}